extends layout

block content
  script(src='/javascripts/challengeselect.js')
  script(src='/javascripts/challengedrop.js')
    
  body
    .container-fluid
      .row-fluid(style="height:100px;")
        span.span6
          h1.heading #{challenge.name}
        span.span6
          h1.heading Status: #{challenge.status}          
        span.span6
          h4.heading 
          :markdown
            ####Created by: [#{challenge.createdby}](/team/#{challenge.createdby})
        span.span6
          h4.heading Date Created: #{challenge.created}
        span.span6
          h4.heading Date Closed: #{challenge.closed}
      .row-fluid(style="height:100px;")
        span.span6
          h5.heading Prompt: #{challenge.prompt}
        span.span6
          h5.heading Description: #{challenge.description}
        span.span6
          h5.heading Prize: #{challenge.prize}          
      .row-fluid(style="height:100px;")
        span.span6