extends layout

block content
  body
    .container-fluid
      .row-fluid
        span.span6
          h1.heading #{name}
        span.span6
          h4.heading #{contactname}
          h4.heading #{email}
      .row-fluid
        span.span6
          h5.heading Prompt: #{prompt}
        span.span6
          h5.heading Description: #{description}
      .row-fluid
        span.span6
          button.btn.btn-danger.btn-large.pull-right Drop
        span.span6
          button.btn.btn-success.btn-large Submit
    name: String,
    type: String,
    prompt: String,
    description: String,
    contactname: String, 
    email: String
