extends layout

block content

<<<<<<< Updated upstream
  body
    .container-fluid
      .row-fluid(style="height:100px;")
        span.span6
          h1.heading #{challenge.name}
        span.span6
          h4.heading #{challenge.contactname}
          h4.heading #{challenge.email}
      .row-fluid(style="height:100px;")
        span.span6
          h5.heading Prompt: #{challenge.prompt}
        span.span6
          h5.heading Description: #{challenge.description}
      .row-fluid(style="height:100px;")
        span.span6
          button.btn.btn-danger.btn-large.pull-right Drop
        span.span6
          button.btn.btn-success.btn-large Submit
   
=======
div.challengepage
    h4 #{challenge.name}
    | Type: #{challenge.type}
    br
    | Prompt: #{challenge.prompt}
    br
    | Description: #{challenge.description}
>>>>>>> Stashed changes
