extends layout

block content
    script(src='/javascripts/challengeselect.js')
    each challenge, i in challengepack
       
        div.challenge
            h4 #{challenge.name}
            | Type: #{challenge.type}
            br
            | Prompt:  #{challenge.prompt}
            div.hidden
                br
                | Description: #{challenge.description}
                br
<<<<<<< HEAD
                form(method='post', action='/viewchallenge/'+challenge.name)
                  button.challengeselect(value = 'none')  Select
=======
                button.btn.challengeselect(value=challenge.name)  Select
>>>>>>> 9d8e484028d61b860f6a784e67d7759ef3aac1e4
