extends layout

block content

  body
    .container-fluid
      .row-fluid(style="height:100px;")
        span.span6
          h1.heading #{challenge.name}
        span.span6
          h4.heading #{challenge.contactname}
          h4.heading #{challenge.email}
      .row-fluid(style="height:100px;")
        span.span6
          h5.heading Prompt: #{challenge.prompt}
        span.span6
          h5.heading Description: #{challenge.description}
      .row-fluid(style="height:100px;")
        span.span6
            form(method='post', action='/drop')
              button.btn.btn-danger.btn-large.pull-right Drop
        span.span6

          form(method='get', action='/submitchallenge')
            button.btn.btn-success.btn-large Submit