extends layout

block content
    script(src='/javascripts/challengeselect.js')
    each challenge, i in challengepack
       
        div.challenge
            h4 #{challenge.name}
            | Type: #{challenge.type}
            br
            | Prompt:  #{challenge.prompt}
            div.hidden
                br
                | Description: #{challenge.description}
                br
                button.btn.challengeselect(value=challenge.name)  Select
