extends layout

block content
  script(src='/javascripts/challengeselect.js')
  script(src='/javascripts/challengedrop.js')
    
  body

    .container-fluid
      .row-fluid(style="height:100px;")
        span.span6
          h1.heading #{challenge.name}
        span.span6
          h1.heading Status: #{challenge.status}          
        span.span6
          h4.heading 
          :markdown
            ####Created by: [#{challenge.createdby}](/team/#{challenge.createdby})
        span.span6
          h4.heading Date Created: #{challenge.created}
        span.span6
          h4.heading Date Closed: #{challenge.closed}
      .row-fluid(style="height:100px;")
        span.span6
          h5.heading Prompt: #{challenge.prompt}
        span.span6
          h5.heading Description: #{challenge.description}
        span.span6
          h5.heading Prize: #{challenge.prize}

    if (status == 'closed')
        h3 Winner: challenge.winner[1]
        input.btn.pull-center(type='button', value="View Submission", onclick="location.href=\'" + challenge.winner[0]+ "\';")View

    else
        span.span6
          table.table
            thead
              tr
                th Team
                th Submission
                th Select as Winner
            tbody
              each sub, i in challenge.submissions
                form(method='post', action='/pickwinner')
                  tr
                    td #{sub[1]}
                    td
                      input.btn.pull-center(type='button', value="View Submission", onclick="location.href=\'" + sub[0]+ "\';")View
                      input(type='hidden', value=value=sub[1] + '_' + sub[0] + '_' + challenge.name, name="winner")
                    td
                      button.btn.pull-center Button
            

          //- h5.heading Submissions:
          //- each sub, i in challenge.submissions
          //-   | #{sub[0]}
          //-   br
      .row-fluid(style="height:100px;")
