extends layout

block content
  script(src='/javascripts/challengeselect.js')
  script(src='/javascripts/challengedrop.js')
    
  body
    .container-fluid
      .row-fluid(style="height:100px;")
        span.span6
          h1.heading #{challenge.name}
        span.span6
          h4.heading Created by: #{challenge.createdby}
      .row-fluid(style="height:100px;")
        span.span6
          h5.heading Prompt: #{challenge.prompt}
        span.span6
          h5.heading Description: #{challenge.description}
      .row-fluid(style="height:100px;")
        span.span6
          h5.heading Prize: #{challenge.prize}
        span.span6
            button.challengedrop.btn.btn-danger.btn-large.pull-right(value=challenge.name) Drop
        span.span6

          form(method='post', action='/submit')
            button.btn.btn-success.btn-large Submit