extends layout

block content
    .container-fluid
      .row-fluid
        span.span6
          h2.heading Team: #{teamname} 
          h5 Interests: 
          each int, i in interests
            h5 #{int} 
        span.span6
          h5.heading Heading
          h5.heading Heading
          h5.heading Heading
      .row-fluid
        span.span6
          table.table
            thead
              tr
                th Column 1
                th Column 2
                th Column 3
            tbody
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here
        span.span6
          table.table
            thead
              tr
                th Column 1
                th Column 2
                th Column 3
            tbody
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here
      .row-fluid
        span.span6
          table.table
            thead
              tr
                th Column 1
                th Column 2
                th Column 3
            tbody
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here
        span.span6
          table.table
            thead
              tr
                th Column 1
                th Column 2
                th Column 3
            tbody
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here
              tr
                td Text can go here
                td Text can go here
                td Text can go here

    br
    h5 Team name: #{teamname}     
    br
    |Interests: 
    each int, i in interests
      | #{int} 
    br
    |Current open projects: 
    each proj, p in openprojects
      a(href='#{proj.url}') #{proj.proj}   
    br
    |Current closed projects: 
    each proj, p in closedprojects
      a(href='#{proj.url}') #{proj.proj}   
    br
    |Challenges created that are open:
    each chal, c in openchallengescreated
      a(href='#{chal.url}') #{chal.chal}
    br
    |Challenges created that are closed:
    each chal, c in closedchallengescreated
      a(href='#{chal.url}') #{chal.chal}
    br
    |Captain: #{captain.name}    
    br
    |Members: 
    each mem, m in members
      | #{mem.name} 
      if (mem == members)
      | 