extends layout

block content
    br
    h5 Team name: #{teamname}     
    br
    |Interests: 
    each int, i in interests
      | #{int} 
    br
    |Current open projects: 
    each proj, p in openprojects
      a(href='#{proj.url}') #{proj.proj}   
    br
    |Current closed projects: 
    each proj, p in closedprojects
      a(href='#{proj.url}') #{proj.proj}   
    br
    |Challenges created that are open:
    each chal, c in openchallengescreated
      a(href='#{chal.url}') #{chal.chal}
    br
    |Challenges created that are closed:
    each chal, c in closedchallengescreated
      a(href='#{chal.url}') #{chal.chal}
    br
    |Captain: #{captain.name}    
    br
    |Members: 
    each mem, m in members
      | #{mem.name} 
      if (mem == members)
      | 