extends layout

block content
    br
    |Team name: #{teamname}     
    br
    |Interests: 
    each int, i in interests
      | #{int} 
    br
    |Current projects: 
    each proj, p in projects
      a(href='#{proj.url}') #{proj.proj}   
    br
    |Captain: #{captain.name}    
    br
    |Members: 
    each mem, m in members
      | #{members.name}